:root {
  --background-red: hsl(0, 100%, 74%);
  --submit-button-green: hsl(154, 59%, 51%);
  --submit-button-dropshadow: hsl(154, 48%, 48%);
  --submit-button-selection: hsl(154, 65%, 68%);
  --trial-button-blue: hsl(248, 32%, 49%);
  --trial-button-blue-hover: hsl(248, 39%, 58%);
  --placeholder-dark-blue: hsl(249, 10%, 26%);
  --font-grayish-blue: hsl(246, 25%, 77%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  text-align: center;
  background-color: var(--background-red);
  background-image: url("images/bg-intro-mobile.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: animation 100s linear infinite;
}

@keyframes animation {
  100% {
    background-position: 0px -3000px;
  }
}

body,
button,
#submit-button {
  color: white;
}

button,
#submit-button {
  font-size: 1.0625rem;
  cursor: pointer;
}

input,
button {
  border: none;
}

a {
  font-weight: 700;
  text-decoration: none;
  color: var(--font-grayish-blue);
}

.button-container,
.form-container {
  box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.1);
}

input::placeholder {
  font-weight: 600;
}

.container {
  width: fit-content;
  margin: 3.75rem 1.5625rem;
}

.text-container {
  text-align: center;
}

.text-container h1 {
  margin: 0.625rem 3.125rem;
}

.text-container p {
  margin: 0.625rem 0 3.125rem 0;
}

.button-container {
  margin-bottom: 1.5625rem;
  border-radius: 0.625rem;
}

.button-container button {
  width: 100%;
  height: 3.75rem;
  padding: 0 4.6875rem;
  font-weight: 400;
  background-color: var(--trial-button-blue);
  border-radius: 0.625rem;
  text-align: center;
}

.button-container button:hover {
  background-color: var(--trial-button-blue-hover);
}

.form-container {
  width: 100%;
  padding: 1.5625rem 1.25rem;
  background-color: white;
  border-radius: 0.625rem;
}

.inputs-warning {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.input-container {
  width: 100%;
  padding: 0.9375rem;
  display: flex;
  justify-content: space-between;
  border: 0.1px solid var(--font-grayish-blue);
  border-radius: 0.3125rem;
}

.input-container input {
  width: 100%;
  color: var(--background-red);
  font-weight: 700;
}

#submit-button {
  width: 100%;
  height: 3.4375rem;
  font-weight: 600;
  background-color: var(--submit-button-green);
  border-radius: 0.3125rem;
  box-shadow: 0px 5px 0px 0px var(--submit-button-dropshadow);
}

#submit-button:hover {
  background-color: var(--submit-button-selection);
  box-shadow: 0px 5px 0px 0px var(--submit-button-green);
}

.form-container p {
  margin: 0.625rem 0.625rem 0 0.625rem;
  text-align: center;
  font-size: 0.75rem;
  color: var(--font-grayish-blue);
}

.form-container p a {
  color: var(--background-red);
}

.warning {
  color: var(--background-red);
  font-size: 0.75rem;
  font-weight: 600;
  margin: 0.3125rem 0 0.625rem 0;
}

.invisible {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.warning,
.warning-img,
#submit-button,
.button-container button {
  transition: linear 0.1s;
}

@media (min-width: 700px) {
  body {
    background-image: url("images/bg-intro-desktop.png");
  }
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.3fr 1.7fr;
    gap: 0px 0px;
    grid-template-areas:
      "text-container button-container"
      "text-container form-container";
    width: 40.625rem;
    margin: 2.5rem 1.5625rem;
  }

  .text-container {
    grid-area: text-container;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-right: 2.5rem;
  }

  .text-container h1 {
    font-size: 2rem;
    margin: 0;
  }

  .text-container p {
    font-size: 0.875rem;
  }

  .button-container {
    grid-area: button-container;
  }
  .form-container {
    grid-area: form-container;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 62.5rem;
    margin: 3.75rem auto;
  }

  .text-container h1 {
    font-size: 2.5rem;
    padding-right: 5.625rem;
  }
}
